body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #eaeaea;
}

header {
    background-color: #2d2d2d;
    padding: 15px 0;
}

.navbar ul {
    list-style: none;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.content-area {
    padding: 40px;
    text-align: center;
}

.language-form {
    margin-top: 20px;
}
